<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>admin</string>
		<string>admin</string>
	</array>
	<array>
		<string>wojiaoyangfukai</string>
		<string>yangfukai</string>
	</array>
	<array>
		<string>651015252</string>
		<string>123456</string>
	</array>
	<array>
		<string>shabima</string>
		<string>en</string>
	</array>
</array>
</plist>
